<div class="hero">
  <div class="container">
    <h2>Interstellar</h2>
    <p>Former NASA pilot Cooper (Matthew McConaughey) and a team of researchers travel across the galaxy to find out which of three planets could be mankind's new home.</p>
    <a href="#">Read More</a>
  </div>
</div>

<div class="main">
  <div class="container">
    <h2>Popular Films</h2>
    <% @movies.each do |m| %>
      <%= link_to m do %>
        <img src=<%= m.image %> alt="">
        <h2><%= m.title %></h2>
        <p><%= m.release_year %></p>
        <p><%= m.plot %></p>
      <% end %>
  <% end %>
  </div>
</div>

